.contactUs{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;

    &Details{
        border: 2px solid $secLightText ;
        padding: 20px 20px;
        margin: 100px 0;

        & div{
            display: flex;  
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;

            h1{
                font-style: normal;
                font-weight: 400;
                color: $primary;
            }

            p{
                color: $secLightText;
            }

            aside{
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }

        &Mid{
            border-top: 0.5px solid $secLightText;
            border-bottom: 0.5px solid $secLightText;
        }
        
    }

    &FillDetails{
        margin-bottom: 80px;

        & header{
            display: flex;
            justify-content: space-between;
            align-items: center;


            & h1{
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
            }

            
            & p{
                color: $secLightText;
            }

        }

        &Form{
            display:flex;
            flex-direction: column;
            gap: 10px;

            label{
                font-size: 1.2rem;
            }

            input{
                padding: 10px;
                font-size: 1.05rem;
                margin-bottom: 10px;
            }

            button{
                background-color: $accent;
                color: $primary;
                padding: 15px 0;
                border: $accent;
                outline: $accent;
                font-size: 1.1rem;
            }
            button:hover{
                cursor: pointer;
                color: $accent;
                background-color: $primary;
            }
        }

    }
}

@media screen and (max-width: 769px) {
    .contactUs{
        width: 90%;

        &Details{
            padding: 15px 15px;
            margin: 100px 0;

            & div{
    
                h1{
                    font-size: 1rem;
                }
    
                p{
                    font-size: 0.8rem;
                    text-align: right;
                }
    
            }
    
        }
    }
}

@media screen and (max-width: 426px) {
    .contactUs{
        
        &Details{
            padding: 10px 10px;
            margin: 80px 0;
            
            & div{
    
                h1{
                    font-size: 0.8rem;
                }
    
                p{
                    font-size: 0.8rem;
                    text-align: right;
                }
    
            }
    
        }
        &FillDetails{
            margin-bottom: 80px;
    
            & header{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
    
                & h1{
                    font-size: 1.5rem;
                }
    
                
                & p{
                    font-size: 1.0rem;
                }
    
            }
    
        }
    }
}