.shoppingHead{
    padding: 1em 0px 5em 0px;
    .shoph1{
        justify-content: center;
        align-items: center;
    }
    .shoph1 h1{
        font-weight: bold;
        font-family: $fontPara;
    }
    .shopCartHead, .shopCartHead2{
        justify-content: space-between;
    }
    
    .shopCartHead2{
        gap: 4rem;
    }
    .shopCartHead p{
        font-weight: 600;
    }
    
    .shoph1, .shopCartHead2, .shopCartCheckout{
        display: flex;
    }
    .shopCartCheckout{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .shopCartCheckp1{
        font-size: 12px;
    }
    .shopCartCheckp2{
        font-size: 9px;
    }
    .shopCartCheckButton{
        background: $accent;
        font-family: $fontPara;
        border: 1px solid $accent;
        padding: 10px 50px;
    }
    .shopCartCheckButton:hover{
        color: $secondary;
        cursor: pointer;
    }
}
@media screen and (max-width: 1000px) {
    .shopCartHead{
        font-size: small;
    }
    .shopCartHead2{
        gap: 3rem;
    }
}
@media screen and (min-width: 819px){
    .shopCartHead, .shopCartBorder{
        border-bottom: 1px solid $accent;
    }
    .shopCartHead{
        display: flex;
    }
   
}
@media screen and (max-width: 819px){
    .shopCartHead{
        // border-bottom: none;
        display: none;
    }
    .shopCartBorder{
        border-bottom: 1px solid $accent;
    }
    .shoph1 h1{
        font-size: x-large;
    }
}