.footer{
    background: $primary;
    width: 100%;
    margin: 0;
    color: $secondary;
    padding: 2em 0;
    font-family: $fontPara;

    .footContainer{
        display: flex;
    }
    .footHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border-right: 1px solid grey;
        // padding-right: 5em;
    }
    .footHeader h1{
        cursor: pointer;
        font-weight: lighter;
    }
    .footHead{
        color: $secondary;
        margin: 0;
        font-family: $fontHeading ;
    }
    .footList{
        display: flex;
        

        ul{
            padding: 0px;
        }
    }
    .footList li{
        list-style-type: none;
        font-family: $fontPara;
        padding-bottom: 4px;
    }
    .footList li:hover{
        cursor: pointer;
        color: $accent;
    }
    .footericons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .footericons img {
        width: 15px;
    }
    .footersocials{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .footersocials a{
        cursor: pointer;
        color: $secondary;
        text-decoration: none;
    }
    .footersocials a:hover{
        color: $accent;
    }
}
@media screen and (max-width: 800px){
    .footHeader h1{
        font-size: 20px;
    }
    .footList{
        gap: .5em;
        font-size: 12px;
    }
    .footersocials{
        font-size: 12px;
    }
}
// @media screen and (max-width: 750px){
//     .footersocials{
//         font-size: 8px;
//     }
// }
@media screen and (min-width: 600px){
    .footList{
        border-right: 1px solid grey;
        border-left: 1px solid grey;
        gap: 5em;
        padding: 0 60px;
    }
    .footContainer{
         justify-content: space-between;
    }
    .footersocials{
        margin-left: 20px;
    }
}
@media screen and (max-width: 600px){
    .footContainer, .footList{
        flex-direction: column;
    }
    .footContainer, .footHeader, .footersocials{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .footList{
        border-right: none;
        border-left: none;
        gap: 0px;
        padding: 0px;
    }
}