.footer{
    background: $primary;
    width: 100%;
    margin: 0;
    color: $secondary;
    padding: 2em 0;
    font-family: $fontPara;

    .footContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid grey;
        padding-right: 5em;
    }
    .footHeader h1{
        cursor: pointer;
        font-weight: lighter;
    }
    .footHead{
        color: $secondary;
        margin: 0;
        font-family: $fontHeading ;
    }
    .footList{
        display: flex;
        border-right: 1px solid grey;
        padding-right: 7em;
        gap: 3em;
    }
    .footList li{
        list-style-type: none;
        font-family: $fontPara;
        padding-bottom: 4px;
    }
    .footList li:hover{
        cursor: pointer;
        color: $accent;
    }
    .footericons{
        display: flex;
        // border: 1px solid red;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .footericons img {
        width: 15px;
    }
    .footersocials{
        // border: 1px solid white;
        // line-height: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 20px;
    }
    .footersocials a{
        cursor: pointer;
        color: $secondary;
        text-decoration: none;
    }
}