.homeContainer{
    width: 100%;
    background-color: rgb(246, 249, 239);
    font-family: $fontPara;
    .homenewsContainer{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .newsContainer{
        display: flex;
        border: 2px solid $accent;
        padding: 10px;
        justify-content: space-around;
        width: 80%;
    }
    .homeText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 1px solid black;
        flex: 60%;
    }
    .homenewsInput{
        border: 1px solid $secondary;
        padding: 5px 10px;
        width: 70%;
    }
    .homenewsButton{
        padding: 5px 20px;
        border: 1px solid $accent;
        background: $accent; 
        font-family: $fontPara;
    }
    .homeinputContainer{
        margin: 4rem 0 0;
    }
}