.navBar{
    background: $primary;
    width: 100%;
    margin: 0;
    color: $secondary;
    padding: 0.5em 0;
    .navContainer{
        justify-content: space-between;
    }
    .navHeader, .navIcons, .navContainer, .navIcon{
        display: flex;
    }
    .navHeader{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navHeader h1{
        font-weight: lighter;
        // border: 1px solid brown;
    }
    .navIcons{
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .navIcons img{
        width: 18px;
    }
    .navIcons img:hover{
        color: $accent;
        cursor: pointer;
    }
    .navIcon p{
        color: $accent;
    }
    .navHead{
        color: $secondary;
        margin: 0;
        font-family: $fontHeading ;
    }
    .navList ul{
        display: flex;
        gap: 2.5em;
    }
    .navList li{
        list-style-type: none;
        font-family: $fontPara;
    }
    .navList li:hover{
        // text-decoration: underline;
        cursor: pointer;
        color: $accent;
    }
    
}