
.infoHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px 0;
}
.infoHeader h1{
    font-weight: lighter;
    font-size: 1.5em;
}
   
.infoHead{
    color: $primary;
    margin: 0;
    font-family: $fontHeading ;
}
.infopcont{
    display: flex;
    justify-content: flex-start;
}
.infop{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.infop img{
    width: 10px;
}
.infop p{
    font-size: 12px;
}
.infospan{
    color: $accent;
    font-family: $fontPara;
}
.infohrdiv, .infohrdiv2{
    width: 100%;
}
.infohrdiv hr{
    width: 38%;
    height: 0;
}
.infohrdiv, .infohrdiv2 p{
    font-size: 13px;
}
.infohrdiv2 hr{
    width: 45%;
}
.infopaypal{
    margin: 10px auto;
}
.infopaypal, .infohrdiv, .infohrdiv2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infopaypal img{
    width: 200px;
}