.shippingfootercontainer{
    padding: 2.5rem 0px 5px 0px;
}
.shippingfooter{
    display: flex;
    gap: 20px;
    border-top: 1px solid black;
}
.shippingfooter p{
    font-size: 10px;
    font-weight: lighter;
}