.infoform, .infocheckbox, .infoinputflex, .infoinputflex2, .infoinputflex3, .infostateselect, .infobackarrow, .infofooter{
    display: flex;
}
.infoform{
    flex-direction: column;
    gap: 20px;
    margin-top: 5px;
}
.infoform p{
    margin: 0;
    font-size: 14px;
}
.infoform input{
    padding: 10px;
}
.infocheckbox{
    gap: 5px;
}
.infocheckbox input{
    width: 1rem;
}

.infoinputflex{
    justify-content: space-between;
}
.infoinputflex input{
    width: 48%;
}
.infoinputflex2{
    flex-direction: column;
    gap: 20px;
}
.infoinputflex3{
    width: 100%;
    justify-content: space-between;

}
.infoinputflex3 input{
    width: 30%;
}
.infoinputflex4 input{
    width: 100%
}
.infostateselect{
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.infostateselect select{
    width: 100%;
    border: none;
    outline: none;
    font-weight: lighter;
    color: $secLightText;
}
.shipInfoButton{
    background: $accent;
    font-family: $fontPara;
    border: 1px solid $accent;
    padding: 10px 50px;
    width: 100%;
    margin-top: 15px;
}
.shipInfoButton:hover{
    color: $secondary;
    // background: $primary;
    // border: 1px solid $primary;
    cursor: pointer;
}
.infobackarrow{
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    text-decoration: none;
    color: $primary;
    cursor: pointer;
}
.infofooter{
    gap: 10px;
    margin-top: 2rem;
    border-top: 1px solid black;
}
.infobackbutton{
    font-size: 12px;
}
.infofooter p{
    font-size: 8px;
    font-weight: lighter;
}