@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=IM+Fell+Double+Pica+SC&display=swap');

*{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}
.swiper-button-next, .swiper-button-prev {
  background-image: url(../src/assets/png/best-sellers/right\ arrow.png);
  position: absolute;
  margin-top: -5em;
  background-size: 100% auto;
  // background-position: center;
}
.swiper-button-prev{
  margin-left: 6.5em;
}
.swiper-button-next{
  margin-right: 6.5em;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}

// font-family: 'IM Fell Double Pica SC', serif;
// font-family: 'Exo 2', sans-serif;