@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=IM+Fell+Double+Pica+SC&display=swap');

*{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}


// font-family: 'IM Fell Double Pica SC', serif;
// font-family: 'Exo 2', sans-serif;